# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
HibernateValidatorDemo/HibernateValidatorDemo.iml
HibernateValidatorDemo/Hibernate_validator_demo.iml
HibernateValidatorDemo/target/
RabbitMQDemo/RabbitMQDemo.iml
RabbitMQDemo/target/
RabbitMQ_demo/
emailSender/src/main/resources/static/
emailSender/target/generated-sources/
emailSender/target/generated-test-sources/
/test
emailSender/emailSender.iml
emailSender/target/classes/
emailSender/target/test-classes/
/RabbitMQDemo/README_YNK.md

